html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6,
p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, 
dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, 
tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label,
legend,table, caption, tbody, tfoot, thead, tr, th, td,article, 
aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, 
video {
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, 
figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';	
	content: none;
}

table {	
	border-collapse: collapse;	
	border-spacing: 0;
}

/**********************************************************************/

body {
	font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
	background-color: #000;
	color: #fff;
}

/**********************************************************************/

#sidebar {
	width: 350px;
	position: absolute;
	left: 0;
	overflow: hidden;
}

#collections {
	width: 350px;
	position: absolute;
}

.photoset-title-div {
	position: relative;
	display: block;
	width: 312px;
	height: 80px;
	overflow: hidden;
	margin: 1px 2px 1px 2px;
	background-color: #004299;
	opacity: 0.5;
}

.photoset-title-div.active {
	background-color: #000;
	opacity: 1.0;
}

.photoset-title {
	font-size: 30px;
	color: #FFF;
	height: 30px;
	max-width: 290px;
	overflow: hidden;
	margin: 15px 0 0 10px;
}

.photoset-description {
	font-size: 12px;
	color: #CCC;
	height: 12px;
	max-width: 290px;
	overflow: hidden;
	margin: 10px 0 0 10px;
}

img.thumb-small {
	width: 75px;
	height: 75px;
	display: inline;
	margin: 1px 2px 1px 2px;
	opacity: 0.5;
	text-align: left;
}

img.loading-icon {
	position: absolute;
	width: 35px;
	height: 35px;
	top: 25px;
	left: 130px;
	display: none;
}

/**********************************************************************/

#display {
	position: absolute;
	margin-left: 350px;
	height: 80%;
	min-width: 55%;
	left: 0;
	top: 80px;
	border: #000 1px dotted; /* for debug */
	font-family: "Microsoft Yahei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Georgia, Tahoma, "Hiragino Sans GB", STHeiti !important;
	z-index: -1;
}

#display-img-div {
	position: relative;
	border: #000 1px dotted; /* for debug */
	height: 75%;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#display-img {
	max-height: 100%;
	max-width: 100%;
}

#display-text-div {
	border: #000 1px dotted; /* for debug */
	width: 70%;
	margin: 0 auto;
	height: 25%;
	overflow: hidden;
}

#display-title {
	font-size: 25px;
	margin: 15px 0 0 0;
	color: #ddd;
}

#display-description {
	font-size: 14px;
	margin: 5px 0 0 0;
	max-height: 40px;
	overflow: hidden;
	color: #999;
}

#loading-bar {
	display: none;
	position: absolute;
}

/**********************************************************************/

#debug {
	position: absolute;
	left: 350px;
	bottom: 0;
	width: 500px;
	border: #aaa 1px dotted;
	
	/* close debug */
	display: none;
}
